@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/background.png");
}

.sombra {
  width: 280px;
  height: 100px;
  margin-top: -100px;
  border-radius: 17px;
  background: linear-gradient(
    to top,
    #000000 0px,
    transparent 100px,
    transparent 10px
  );
}

.titulo {
  padding-left: 10px;
  margin-top: -40px;
}

.imageCard {
  width: 280px;
  height: 250px;
}

.search {
  margin-left: 58%;
}

.imagemDoCard {
  width: 200px;
  height: 200px;
}

.two-columns {
  width: 75%;
  color: aliceblue;
  columns: 2;
  text-align: justify;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 6%;
}
